/* Importing the Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Global Styles */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
h1 {
    color: #1587d4;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 500;
    color: #1587d4;
}

input[type="text"],
select,
input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

::placeholder {
    color: rgb(156, 156, 156);
    opacity: 1;
}

button {
    border: none;
    color: white;
    padding: 10px 150px;
    background-color: #1587d4;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 3px;
}

button:hover {
    background-color: #106bb0;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #1587d4;
    font-weight: 500;
    margin-right: 10px;
    transition: color 0.3s;
}

ul li a:hover {
    color: #106bb0;
}

/* Image Styles */
img {
    max-width: 150px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #1587d4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
}

a.btn-link:hover {
    background-color: #106bb0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Footer Styles */
footer {
    margin-top: 30px;
    text-align: center;
    color: #888;
    font-size: 0.9em;
}
