@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: "Ubuntu", sans-serif;
    padding-left: 13%;
    padding-right: 13%;
    background-color: white;
}

.mid2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#img1 {
    max-width: 15%;
}

#down_img {
    max-width: 75%;
    height: auto;
    padding-top: 100px;
}

.img_box {
    margin-left: 5%;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 10%;
}

.three-dots {
    max-width: 15%;
    margin-top: -10px;
}

#new {
    text-decoration: none;
    color: black;
}

.image-upload {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}

.image-upload img {
    width: 100%;
    max-width: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.image-upload input {
    display: none;
}

.ssearch {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
    margin-top: 10px;   
    font-weight: 100;
    border-radius: 3%;
}

.sbut {
    
}

